
.p1{
    font-family: creato;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    width: 600px;

}

.coo1 {
    font-family: coolvetica;
    margin-top: 0;
    margin-bottom: 0;
}

@font-face {
  font-family: "coolvetica";
  src: url(font/coolvetica/Coolvetica\ Rg.otf);
}

@font-face {
  font-family: "baby";
  src: url(font/babydoll/Baby\ Doll.otf);
}

@font-face {
  font-family: "fatkat";
  src: url(font/fat_kat/Fat\ Kat.ttf);
}

@font-face {
  font-family: "mamboe";
  src: url(font/mamboe/Mamboe\ Trial.otf);
}

@font-face {
  font-family: "super";
  src: url(font/super_comic_3/Super\ Comic.ttf);
}

@font-face {
  font-family: "marline";
  src: url(font/marline/Marline\ Personal\ Use\ Only.otf);
}

@font-face {
  font-family: "creato";
  src: url(font/creato_display/CreatoDisplay-Light.otf);
}

@font-face {
  font-family: "alte haas grotesk bold";
  src: url(/font/AlteHaasGroteskBold.ttf);
}
@font-face {
  font-family: "cocogooseFINA";
  src: url(/font/cocogoose/Cocogoose-Pro-Semilight-trial.ttf);
}

@font-face {
  font-family: "cocogooseGROSSA";
  src: url(/font/cocogoose/Cocogoose-Pro-Darkmode-trial.ttf);
}

@font-face {
  font-family: "bear";
  src: url(font/bear_days/Bear\ Days.otf);
}


/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  width: 100%;
  font-family: "cocogoose";
  
}

.capa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background: #bd3449;
  position: relative;
  overflow: hidden;
}

.capa::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  animation: lightSweep 8s infinite linear;
}


.logo {
  width: 170px;
  height: 50px;
  transition: transform 0.6s ease, filter 0.5s ease;
  margin-top: 20px;
  margin-bottom: 20px ;
}
.logo:hover {
  transform: scale(1.05);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.nave {
  position: relative;
  text-decoration: none;
  font-size: 28px;
  color: rgb(255, 244, 219);
  transition: color 0.4s ease, transform 0.3s ease;
}
.nave:hover {
  color: #ffeeef;
  transform: translateY(-2px);
}
.nave::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffeeef;
  transition: width 0.4s ease;
  transform: translateX(-50%);
}
.nave:hover::after {
  width: 100%;
}
.nave.ativo {
  color: #9d2f31;
  font-size: 30px;
}

.eventosMain {
  text-align: center;
  padding: 60px 8%;
  background-color: #fbf4eb;
  animation: fadeUp 1s ease;
}

.tituloEventos {
  font-size: 40px;
  color: #9d2f31;
  margin-bottom: 40px;
  font-family: "cocogoose";
}

@font-face {
  font-family: "cocogooseGROSSA";
  src: url(/font/cocogoose/Cocogoose-Pro-Darkmode-trial.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cocogooseGROSSA";
}

body {
  background: rgb(255, 244, 219);
  color: #5a2a24;
  min-height: 100vh;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pagamento-box {
  background: #ffffff;
  width: 1200px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

.info-retirada {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;

}

.info-retirada h2 {
  font-size: 30px;
  color: #6b2b22;
  margin-bottom: 10px;
}


.cartoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  margin: 0 auto;
}

.opcao {
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #e2d6cc;
  padding: 18px;
  margin-bottom: 40px;
  border-radius: 16px;
  transition: 0.2s;
  color: #6a5a52;
}

.opcao:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  border-color: #d3c3b6;
}

.opcao strong {
  color: #3b241a;
  font-size: 18px;
}


.final-msg {
  margin-top: 30px;
  background: #fff;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #e2d6cc;
  color: #3b241a;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

h1 {
  font-size: 90px;
  font-weight: 100;
  color: #bd3449;
  font-family: "mamboe";
  letter-spacing: 10px;
  margin-bottom:30px;
  line-height: 0.9;
  text-align: center;
  margin-top: 20px;}

  p {
    font-size: 20px;
    color: #6b2b22;
    text-align: center;
    margin-top: 15px;
    font-family: "cocogooseFINA";
  }

footer {
  width: 100%;
  background: #b74b4b;
  color: #fff;
  padding: 50px 60px 30px;
  font-size: 14px;
  margin: 0%;
}

footer button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #7e1818;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

footer button:hover {
  background: #b74b4b;
}



.redes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}


.final {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  text-align: center;
}

.final a {
  color: #f5ddd9;
  text-decoration: none;
  margin: 0 5px;
}

.final a:hover {
  color: #fff;
}

.mensagem {
  text-align: center;
  font-size: 30px;

}



.conteudo-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

footer p {
  margin-bottom: 8px;
  display: block;
  color: #edf7ff;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer a {
  margin-bottom: 8px;
  display: block;
  color: #edf7ff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

footer input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}


.rodape {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  text-align: center;
}

.rodape a {
  color: #f5ddd9;
  text-decoration: none;
  margin: 0 5px;
}

.rodape a:hover {
  color: #fff;
}

a {
  font-size: 18px;
}

.descricao {
  font-size: 60px;
}

.rodape p {
  font-size: 18px;
}

.newsletter p {
  font-size: 18px;
}

.conteudo-footer p {
  font-size: 18px;
}
